<!-- HTML for MULTIPLE products -->

<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>

    <div class="row">
        <% for (let p of products) { %>
        <div class="col">

            <div class="card" style="width: 18rem;">
                <a href="/api/products/<%= p["_id"] %>">
                    <img class="card-img-top" src="<%= p["image"] %>" alt="Card image cap" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Name: <%= p["name"] %></h5>
                    <p class="card-text">Category: <%= p["category"]["name"] %></p>
                    <p class="card-text">$ <%= p["price"] %></p>
                    <a href="/api/products/<%= p["_id"] %>" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <% include ../partials/footer %>
</body>

</html>